main.prefs-section {
    h3.format {
        margin: 2.5rem 0 .5rem 0;
    }

    p.format {
        margin: .9rem 0;
        text-align: justify;
    }
    :global(.bx--btn.format) {
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        padding: .7rem 1.2rem;
        width: inherit;
        height: inherit;
        min-height: inherit;
        max-width: inherit;
    }
}